<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="showOdd = !showOdd">
        Click To Toggle
      </button>
      <br><br>
      <div *ngIf=showOdd>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let odd of oddNumbers" [ngClass]="{odd : odd}" [ngStyle]="{backgroundColor: 'black'}">{{ odd }}</li>
      </ul>
    </div>
    <!-- <div *ngIf=!showOdd>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let even of evenNumbers">{{ even }}</li>
      </ul>
    </div> -->
    <div *appUnless=showOdd>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let even of evenNumbers">{{ even }}</li>
      </ul>
    </div>
    <p appBasicHighlight>Highlighted Item</p>
    <p [appBetterHighlight] = "'red'" defaultColor="yellow">Highlighted Item</p>
    <div [ngSwitch]="value">
      <p *ngSwitchCase="5">Value is 5</p>
      <p *ngSwitchCase="10">Value is 10</p>
      <p *ngSwitchCase="100">Value is 100</p>
      <p *ngSwitchDefault>Value is Default</p>
    </div>  
    </div>   
  </div>
</div>